.fxs-overview-section {
  margin: 12px;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.55);
  display: block;
  width: 500px;
}

h1 {
  display: block;
  margin: 20px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* .property {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  border: 0 solid lightgray;
  border-top-width: 1px;
}

.property-label {
  display: flex;
  justify-content: center;
  margin-right: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.property-value {
  overflow: hidden;
  margin-right: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.property-history {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-weight: bold;
} */
